*
{
	font-size: 12px;
	font-family: 'Comic Sans MS', Verdana, Arial, Helvetica, sans-serif;
}
H1
{
	font-weight: bold;
	font-size: larger;
}

/*
     FILE ARCHIVED ON 17:06:51 Feb 02, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:52:43 May 26, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 223.225
  exclusion.robots: 0.088
  exclusion.robots.policy: 0.08
  RedisCDXSource: 0.707
  esindex: 0.008
  LoadShardBlock: 198.414 (3)
  PetaboxLoader3.resolve: 154.748 (4)
  PetaboxLoader3.datanode: 70.377 (4)
  CDXLines.iter: 21.131 (3)
  load_resource: 89.534
*/