*
{
	font-size: 12px;
	font-family: 'Comic Sans MS', Verdana, Arial, Helvetica, sans-serif;
}
H1
{
	font-weight: bold;
	font-size: larger;
}

/*
     FILE ARCHIVED ON 17:06:51 Feb 02, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:04:11 Jun 07, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 73.092
  exclusion.robots: 0.08
  exclusion.robots.policy: 0.074
  RedisCDXSource: 6.85
  esindex: 0.006
  LoadShardBlock: 49.391 (3)
  PetaboxLoader3.datanode: 61.242 (4)
  CDXLines.iter: 14.878 (3)
  load_resource: 82.167
  PetaboxLoader3.resolve: 44.443
*/