*
{
	font-size: 12px;
	font-family: 'Comic Sans MS', Verdana, Arial, Helvetica, sans-serif;
}
H1
{
	font-weight: bold;
	font-size: larger;
}

/*
     FILE ARCHIVED ON 17:06:51 Feb 02, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 17:10:36 May 27, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 65.516
  exclusion.robots: 0.138
  exclusion.robots.policy: 0.126
  RedisCDXSource: 0.731
  esindex: 0.011
  LoadShardBlock: 39.223 (3)
  PetaboxLoader3.datanode: 53.379 (4)
  CDXLines.iter: 21.187 (3)
  load_resource: 74.704
  PetaboxLoader3.resolve: 39.601
*/